version: '3.4'

services:
  catalogdb:
    image: mongo
    container_name: catalogdb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always
  
  basketdb:
    image: redis:alpine

  catalog.api:
    image: catalogapi
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile
    ports:
      - "8000:8080"       # map container port 8080 to host 8000
    depends_on:
      - catalogdb
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MongoDbSettings__ConnectionString=mongodb://catalogdb:27017
      - MongoDbSettings__DatabaseName=CatalogDb
    restart: always

  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Services/Basket/Basket.API/Dockerfile

  portainer:
    image: portainer/portainer-ce

volumes:
  mongo_data:
  portainer_data:

